.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
* {
  outline: 1px solid red;
}
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  /* выше установили ограничения для секции */
}

.logo_place_header {
position: absolute;
top: 30px;
left: 64px;
}

.header__title {
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  z-index: 3;
  width: 730px;
  display: flex;
  align-items: center;
  margin-left: 64px;
}

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  z-index: 3;
  font-weight: normal;
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
}

.header__subtitle_link {
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
}


/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 64px;
}



.description {
  position: relative;
  
}

.two-columns {
  display: flex;
  justify-content: space-between;
  
  margin: 100px auto 100px auto;
  width: 80%;
  

}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 80%;
  min-width: 784px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}



.digits {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  width: 60%;
  margin: 100px auto 0px auto;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  position: relative;
  margin: 20px auto 0px auto;
  text-align: center;
  width: 60%;
}


.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  flex-wrap: wrap;
  margin: 0px auto 100px auto;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.feynman {
  height: 890px;
  background-color: #f2f2f2;
  position: relative;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;
}

.feynman__title {
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  margin: 100px auto 0px auto;
  
  


}


.feynman__subtitle {

  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}


.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  display: block;
  top: 50%;
  right: 48px;
}

.kaufman {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: #1f1f1f;
  overflow: hidden;
  
}

.section-title_theme-dark {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  width: 60%;
  margin: 90px auto;
  color: white;
}

.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  position: relative;
  margin: 20px auto;
  text-align: center;
  width: 60%;
  color: white;
}
  
.table_theme_dark {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  flex-wrap: wrap;
  margin: 0px auto 100px auto;
  
}


.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;

}

.kaufman__triangle {
  position: absolute;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: 877px 877px;
  z-index: 
}